<div class="container">
    <div class="row">
        <div class="col-10 offset-1 border">
            <div class="row">
                {{customeHero|json}}
                <div class="col-6 offset-3">
                    <div class="form-group">
                        <label for="">Tên Hero</label>
                        <input type="text" 
                            [value]="customeHero.name"
                            (keyup)="customeHero.name = $event.target.value"
                            class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-6 offset-3">
                            <img [src]="customeHero.img" class="img-fluid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Ảnh hero</label>
                        <input type="text"
                            [value]="customeHero.img"
                            (keyup)="customeHero.img = $event.target.value"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Giới tính</label>
                        <select 
                            [value]="customeHero.gender"
                            (change)="customeHero.gender = $event.target.value" class="form-control">
                            <option value="1">Nam</option>
                            <option value="2">Nữ</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button 
                        (click)="saveHero()"
                        class="btn btn-sm btn-success">Lưu</button>
                        &nbsp;
                        <button (click)="cancel()" class="btn btn-sm btn-danger">Hủy</button>
                    </div>
                </div>
            </div>

            <!-- {{ }} Hiển thị giá trị của 1 biến/1 thuộc tính của đối tượng -->
            <!-- [] quy định về giá trị của các thuộc tính của các thẻ khi giá trị thuộc tính 
                đc gán bằng 1 biến/1 gtri thuộc tính -->
            <!-- <img [src]="" /> | <input [value]="" />-->
            <!-- () quy định về sự kiện, khi sự kiện xảy ra thì 1 hàm trong .ts sẽ được thực thi -->
            <!-- (click) (blur) (keydown) -->
            <!-- Thực hiện vòng lặp (sử dụng cho kiểu dữ liệu dạng mảng) => *ngFor -->
            <!-- Thực hiện câu lệnh điều kiện => *ngIf -->
            <h2>{{title}}</h2>
            <!-- Danh sách các heros -->
            <div class="row">
                <app-hero-detail *ngFor="let h of heroList"
                    [heroData]="h"
                    (onRemoveEvent)="testEvent()"
                ></app-hero-detail>
                
            </div>
        </div>
    </div>
</div>
